---
layout: default
title: Home
---

<h1>{{ site.title }}</h1>
<p class="lead">{{ site.description }}</p>

{% for post in paginator.posts %}
  <h2>{{ post.title }}</h2>

  <p class="lead"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.date | date_to_string }}</a></p>

  {{ post.content }}

  <hr>
{% endfor %}


<ul class="nav nav-pills nav-justified">
  {% if paginator.next_page %}
    <li><a class="btn btn-primary" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a></li>
  {% else %}
    <li><a class="btn text-muted">Older</a></li>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <li><a class="btn btn-default" href="{{ site.baseurl }}/">Newer</a></li>
    {% else %}
      <li><a class="btn btn-default" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a></li>
    {% endif %}
  {% else %}
    <li><a class="btn text-muted">Newer</a></li>
  {% endif %}
</ul>