<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <header>
      <nav class="navbar navbar-default" role="navigation"> <!-- navbar-fixed-top -->
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="https://rime.co/">
              <img alt="brand" src="https://static.rime.co/images/logo.png" width="142px"> <!-- height="35px" -->
            </a>
          </div>
        </div>
      </nav>
    </header>

    <section class="main">
      <div class="container container-slim head-padding">
        <div class="row">
          <div class="col-sm-12">
            {{ content }}
          </div>
        </div>
      </div>
    </section>

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script rel="text/javascript" src="https://static.rime.co/third-party/plugins/twbs/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
